[server default]
manager_log=/var/log/mha.log
manager_workdir=/var/lib/mha

user=root
password=toor

repl_user=repl
repl_password=lper

ssh_user=root

ping_interval=1
remote_workdir=/var/lib/mha
master_ip_failover_script=/usr/local/bin/master_ip_failover

[server14]
candidate_master=1
hostname=192.168.1.14
master_binlog_dir=/var/log/mysql_log

[server145]
candidate_master=1
hostname=192.168.1.145
master_binlog_dir=/var/log/mysql_log

[server166]
no_master=1
hostname=192.168.1.166

[server143]
no_master=1
hostname=192.168.1.143

[server56]
no_master=1
hostname=192.168.1.56

[server198]
no_master=1
hostname=192.168.1.198
